.app {
    background-color: #262121;
	/* background: rgb(47,46,84);
	background: linear-gradient(90deg, rgba(47,46,84,1) 34%, rgba(34,33,65,1) 62%, rgba(33,32,57,1) 100%); */
	position: relative;
}

.app::before {
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background: conic-gradient(from 90deg at 1px 1px,
	#2c2d2d 90deg,#0000 0) calc(-1*1px) calc(-1*1px)/
	calc(100%/100) calc(100%/1);
}

.app__inner {
    position: relative;
    z-index: 1;
}